body{
	width: 100%;
	height: 100%;
	position: relative;
}
*{
	margin: 0;
	padding: 0;
}
/* Navbar */
nav{
	background: #972B2B;
}
img{
	width: 50px;
	height: 50px;
}
ul{
	float: right;
}
ul li{
	list-style: none;
	float: left;
	padding: 15px;
}
ul li a{
	text-decoration: none;
	color: white;
}
ul li:hover a{
	border-bottom: 1px solid white;
	color: orange;
	transition: 1s;

}
/* Responsive */

@media only screen and (max-width: 450px){
	.img{
		height: 300px;
	}
	ul li{
		padding: 5px;
		padding-top: 16px;
		justify-content: center;
		align-items: center;
	}
	h1{
		font-size: 15px;
	}
}
@media only screen and (max-width: 300px){
.container h1{
	color: white;
	text-align: center;
	padding: 20px 20px 20px 20px;

}
}

/* Animation */
.ani{
	animation: slideInFromTop 1s ease-in;
}
@keyframes slideInFromTop{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateX(0);
	}
}
.ani1{
	animation: slideInFromLeft 1s ease-in ;
}
@keyframes slideInFromLeft{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0);
	}
}

/* Characters */
.container{
	background-color:#FF8227 ;

}
.char{
	width: 500px;
	height: 500px;
	cursor: pointer;
}
.new{
	position: relative;
	width: 100%;
	height: 500px;
}
.container,.left{
	display: flex;
}
.img_center{
		animation: slideInFromLeft 2s ease-in ;
}
.s{
		animation: slideInFromRight 2s ease-in ;
}
.new1,table{
	display: flex;
	justify-content: center;
	align-items: center;
}
tr,td{
	color: white;
	padding: 15px;
}
.sasuke-table{
	height: 100%;
}
.table{
}
.sasuke-table,table{
	display: flex;
	justify-content: center;
	align-items: center;
}
.new{
	background-color: black;
}
.right{
	width: 100%;
}
.sasuke{
	width: 400px;
	height: 400px;
}
.s{
	float: right;
}
.s{
	height: 500px;
}
.img_center,.sasuke{
	display:flex;
	justify-content: center;
	align-items: center;
}
.char-sakura{
	width: 700px;
	height: 600px;
}
@media only screen and (max-width: 800px){
.left,.right{
	display: block;
	clear: both;
}

.new{
	position: relative;
	height : 100%;
}
.s{
	float: none;
	height: 100%;
}
.img_center,.sasuke{
	display:flex;
	justify-content: center;
	align-items: center;
}
.container,.img_center{
	justify-content: center;
	align-items: center;
}
}
@media only screen and (max-width : 280px){
	ul {
		display: none;
	}
	
label.bar.sasuke.middle{
	padding-left: 10px;
	padding-right: 10px;
}
	img.char{
		width: 200px;
		height: 200px;
	}
	body{
		width: 100%;
	}
	.container{
		width: 100%;
	}
}
@media only screen and (max-width: 912px){
	.char-sakura{
	width: 600px;
	height: 600px;
}
}
@media only screen and (max-width: 892px){
	.char{
		width: 300px;
		height: 300px;
	}
}
.bar{
	padding: 5px 30px 5px 30px;
	background-color: orange;
	margin: 10px;
	width: 0;
	height: 20px;
	cursor: pointer;
}
.forward{
	cursor: pointer;
}
.footer{
	background-color:#972B2B ;
	margin-top: 20px;
}
.footer p{
	font-size: 20px;
	padding: 0;
}
.img2{
	width: 60px;
	height: 60px;
}
.container h1{
	color: white;
	text-align: center;
	padding: 20px 50px 20px 50px;

}
.align{
	position: relative;
}
.align{
	display: flex;
	justify-content: center;
	align-items: center;
}
.c1,.c2,.c3{
	padding: 50px;
}
.align p{
	color: white;
	font-size: 20px;
	text-align: center;
}

.ani{
	animation: slideInFromTop 1s ease-in;
}
@keyframes slideInFromTop{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateX(0);
	}
}
.ani1{
	animation: slideInFromLeft 1s ease-in ;
}
@keyframes slideInFromLeft{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0);
	}
}
@keyframes slideInFromRight{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(0);
	}
}